{% extends 'base.html' %}

{% block body %}
    <h2>Clients</h2>
    <ul>

            <table style="width:100%">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Industry</th>
                    <th>Location</th>
                </tr>
                {% for resource in object_list %}
                <tr>
                    <td>{{ resource.clientID }}</td>
                    <td>{{ resource.client_name }}</td>
                    <td>{{ resource.client_industry }}</td>
                    <td>{{ resource.client_location}}</td>
                </tr>
                {% endfor %}

            </table>
    </ul>
{% endblock body %}

