{% extends 'base.html' %}

{% block body %}
    <div class="col-sm-10 text-center">
    </div>
    <div class="col-sm-10 text-center">
      <h1>Schedule</h1>
      <p>
      <hr>
      <h5>
          <table style="width:100%">
                <tr>
                    <th>Name</th>
                    <th>Eng</th>
                    <th>Current Week</th>
                    <th>Next Week</th>
                </tr>
                <tr>
                    <td>Nick Pisciottano</td>
                    <td>Eng 1</td>
                    <td>5</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Nick Pisciottano</td>
                    <td>Eng 2</td>
                    <td>10</td>
                    <td>5</td>
                </tr>
          </table>
      </h5>
    </div>
{% endblock %}